@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to PC Master Race!</h1>
    <h2 class="lead">We review new and existing Steam games!</h2>
   
</div>

<div class="row">
   
    <div class="col-md-6 left">

        <h2>Categories</h2>
        <p>
            Please pick from the many game categories we review.
        </p>
       <a href="~/Categories/Create" class="swagButton">Click Here</a>
        </div>
   
    <div class="col-md-6 right">
        <h2>Reviews</h2>
        <p>We review a number of different games.</p>
        <a href="~/Reviews/Create" type="button" class="btn swagButton">
         Click Here
        </a>
    </div>

</div>